.container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    text-align: center;
}

.form {
    margin: auto;
    height: 60vmin;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.644);
    width: 80%;

}

.ExpenseContainer {
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.644);
    overflow: auto;
    width: 90%;
    height: 80vmin
}


table {
    border: 2px double rgb(0, 225, 255) !important;
    border-collapse: separate !important;
    border-spacing:  2px !important;
}
th  {
    border: 2px double rgb(0, 225, 255);

}
td {
    border: 2px double rgb(0, 225, 255);
    color:black;
    font: 800 1.5vmax "Roboto";

}
